---
import Layout from "../layouts/Layout.astro";
import TestView from "@components/TestView.vue";
---

<Layout>
    <div class="-translate-y-8">
        <div class="bg-white">页面 About</div>
        <TestView />
        <a href="/">页面跳转</a>
    </div>
</Layout>
