---
import BlurImage from "./Images/BlurImage.astro";
import cover from "@/assets/images/cover.webp";
---

<div id="banner" class="relative transition-all duration-500">
    <BlurImage src={cover} mask only-blur />
</div>

<style is:global>
    .is-home #banner {
        height: var(--banner-height-home);
    }

    #banner {
        height: var(--banner-height-home);
    }
</style>
