---
import { imageToBlurHash } from "@utils/image-utils";
import BlurImage from "./Images/BlurImage.astro";

interface Props {
    title: string;
    image: ImageMetadata;
}

const { title, image } = Astro.props;

// const blurhash = `url(${await imageToBlurHash(image)})`;
const blurhash = "";
---

<div class="h-56 blurhash rounded-md flex onload-animatio">
    <BlurImage src={image} class="w-1/3 bg-clip-padding rounded-l-md" />
    <div class="p-4">
        {title}
    </div>
</div>

<style define:vars={{ blurhash }}>
    .blurhash {
        background-image: var(--blurhash);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<style is:global>
    .blurhash img {
        clip-path: polygon(0 0, 100% 0, 94% 100%, 0 100%);
    }
</style>
